body{
    background: url(assets/baganBackground.jpg);
}
*{
    margin: 0;
    padding: 0;
}
.wrapper {
    padding: 0 5%;
}

.header {
    display: flex;
}

.header-img img {
    max-width: 100%;
    padding-left: 0%;
}